 <!-- Navbar -->
    <nav>
      <section class="nav-section">
        <div class="nav-heading">
          <a  href="/" class="nav-brand"><h1>Execution</h1></a>
        </div>
        <div class="nav-options">
          <a href="/signup" class="register-btn">Register</a>
          <a href="/login" class="login-btn">Login</a>
        </div>
      </section>
    </nav>
    
<!-- Navbar -->
<main>
    <section class="login-section">
        <img src="assets/login.gif" alt="">
        <span class="login-error mt-2">
                     
        </span>
        <form id="login-form" class="text-center">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" id="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" id="password" name="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="button" class="btn login-btn" id="login">Submit</button>
        </form>
    </section>
</main>
<script src="js/login.js"></script>