<!-- Navbar -->
<nav>
    <section class="nav-section">
        <div class="nav-heading">
            <a href="/" class="nav-brand">
                <h1>Execution</h1>
            </a>
        </div>
        <div class="nav-options">
            <a href="/signup" class="register-btn">Register</a>
            <a href="/login" class="login-btn">Login</a>
        </div>
    </section>
</nav>
<!-- Navbar -->
<main>
    <section class="error-section">
        <img src="assets/somethingWentWrong.png" class="something-error-img" alt="Something Went Wrong">
        <h3 class="something-heading">Error : 500 , Something Went Wrong</h3>
        <a href="/login">Login</a>
    </section>
</main>