<!-- Navbar -->
<nav>
    <section class="nav-section">
        <div class="nav-heading">
            <a href="/" class="nav-brand">
                <h1>Execution</h1>
            </a>
        </div>
        <div class="nav-options">
            <a href="/signup" class="register-btn">Register</a>
            <a href="/login" class="login-btn">Login</a>
        </div>
    </section>
</nav>
<!-- Navbar -->
<main>
    <section class="error-section">
        <img src="assets/userexist.png" class="user-exist-img" alt="userExist">
        <h3 class="user-exist-heading">Error : 409 , User Exist try to Login</h3>
        <a href="/login">Login</a>
    </section>
</main>